sudo: false
language: ruby
cache: bundler
rvm:
  - 2.1
  - 2.2
  - 2.3.3
  - 2.4.1
before_install: gem install bundler -v 1.15.4
script:
  - bundle exec rake
  - bash <(curl -fsSL https://github.com/everypolitician/ensure-regression-tests/raw/master/ensure-regression-tests)
